.hero {
  text-align: center;

  color: white;
  height: calc(100vh - var(--nav-height));
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.6)),
    url("../../assets/diner.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 2rem;
}
