nav {
  height: var(--nav-height);
  width: 100%;
  background-color: var(--color-primary);
  color: #ffffff;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

#nav-list {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  transition: background-color ease-in-out 350ms;
}

li.active {
  background-color: var(--color-secondary);
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}
